html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    color: #000000
}
.nav-link{
    background-color: aqua;
    margin: 60px;
    text-align:center;
    list-style: none;
    padding: 10px;

}
.test-link{
    display: inline-block; 
    color:brown;
    outline: 2px solid #000000;
    margin: 50px;
}
.test-link:hover,
.test-link:focus{
    color:blue
}

.header-link{
    display: inline-block;
    border: 2px solid black;
    padding: 20px 40px;
    margin: 20px;
    background-color: #ffffff;
    text-decoration: none;
    /** vertical-align: middle;*/ 

    width: 60px;
    height: 60px;

    border-radius: 100%;

}

.sectiontable{
    outline: 2px solid #000000;
    background-color: blueviolet;
}

.header-link {
    color: tomato;
}

.list > p{
    color: aqua;
}

.container{
    background-color: antiquewhite;
    width:  900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 94px;

}

.link-item{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: red;
    vertical-align: middle; 
    margin-right: 20px;
}